.testimonials {
    text-align: center;

    .heading {
        margin: 50px 0;
    }

    &-box {
        max-width: 987px;

        .text-content {
            margin-bottom: 50px;
        }

        .client {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 20px;
            text-align: left;

            &-name {
                margin-bottom: 5px;
            }
        }
    }
    
    .button--try {
        margin: 50px 0;
    }
}