.testimonials {
    background: #f3f3f4;
    text-align: center;
    .heading-top {
        .title {
            margin-bottom: 30px;
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        .text {
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.3em;
            color: #11161e;
            padding-bottom: 65px;
        }
    }
    // testimonials list
    &-list {

        .test-item {
            background-color: #fff;
            padding: 70px 20px 63px 30px;
            text-align: left;
            .test-img {
                width: 80px;
                padding-bottom: 23px;
            }
            .text {
                font-size: 24px;
                font-weight: 300;
                color: #11161e;
                text-decoration: underline;
                line-height: 1.333;
                padding-bottom: 45px;
                text-transform: none;
            }
            .author {
                position: relative;
                color: #11161e;
                z-index: 99;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -5px;
                    z-index: -9;
                    width: 15px;
                    height: 15px;
                    border-radius: 100rem;
                    background-color: #ffa800;
                }
            }
            
            .category {
                font-family: 'Oswald', sans-serif;
                color: #777777;
                font-size: 12px;
            }
        }
        &.owl-theme .owl-dots .owl-dot span {
            background-color: #11161e;
            border-radius: 0%;
            display: block;
            width: 70px;
            height: 5px;
            margin: 5px;
            border: none;
            outline: none;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &.owl-theme .owl-dots .owl-dot.active span {
            background-color: #ffa800;
            border-color: #ffa800;
            outline: none;
        }
        .owl-dots {
            padding-top: 65px;
        }
    }
}