.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 36px;
    &-logo {
        width: 56px;
        height: 56px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-cart {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #FFC800;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .cart-number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 0 4px;
            top: 0;
            right: 0;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            border-radius: 50%;
            background-color: $secondary-color;
            span {
                color: #fff;
            }
        }
        img {
            width: 18px;
            height: 18px;
        }
    }
}
//menu toggle
.menu-btn {
    display: none;
    
}

.navbar-nav {
    display: flex;
    gap: 0 40px;
    .nav-item {
        position: relative;
        .nav-link {
            color: $heading-color;
            font-weight: 700;
            font-size: 16px;
            line-height: calc(24/16);
            display: block;
            position: relative;
            transition: ease-in-out 0.5s;
            z-index: 1999;
            &::after {
                content: "";
                position: absolute;
                bottom: 2px;
                left: auto;
                right: 0;
                width: 0;
                height: 5px;
                background: #FFC800;
                border-radius: 5px;
                transition: ease-in-out 0.5s;
            }
            &:hover {
                &::after {
                    width: 100%;
                    opacity: 1;
                    z-index: -1;
                }
            }
        }
    }
}

.banner {
    margin-bottom: 140px;
    position: relative;
    
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swipper-container {
        width: 100%;
        height: 480px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .swiper-pagination {
        margin-top: 35px;
        position: static;
    }
    .swiper-pagination-bullet-active {
        background-color: #FFC800;
    }
}

@media screen and (max-width: 576px) {
    .menu-btn {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid #333;
        &__bugger {
            width: 25px;
            height: 3px;
            background: #333;
            border-radius: 3px;
            box-shadow: 0 2px 5px  rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
            .menu-btn.open {
                transform: translateX(-25px);
                background: transparent;
                box-shadow: none;
            }
            &::before, 
            &::after  {
                content: '';
                position: absolute;
                width: 25px;
                height: 3px;
                background-color: #333;
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
            }
            &::before {
                transform: translateY(-10px);
            }
            &::after {
                transform: translateY(10px);
            }
            // animation menu
            // &.open, &__burger {
            //     transform: translateX(-30px);
            //     background: transparent;
            //     box-shadow: none;
            //     &::before {
            //         transform: rotate(45deg) translate(25px, -25px);
            //     }
            //     &::after {
            //         transform: rotate(-45deg) translate(25px, 25px);
            //     }
            // }
            
        }
    }
    
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) transtate(25px, -25px);
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(-45deg) transtate(25px, 25px);
    }

    .banner {
        max-height: 312px;
        margin-bottom: 40px;
        .swipper-container  {
            height: 175px;
        }
    }

    .header-cart {
        margin-left: auto;
        margin-right: 34px;
    }

    .navbar-nav {
        order: 2;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        text-align: center;
        width: 100%;
        height: 257px;
        z-index: 99;
        flex-direction: column;
        gap: 10px 0;
        align-items: stretch;
        transform: translateY(-150%);
        will-change: transform;
        transition: all 0.2s linear;
        &.is-show {
          transform: translateY(0);
        }
        .nav-item .nav-link {
            display: inline-block;
            width: 100%;
            padding: 20px;
        }
    }

    .swiper {
    }
}