.instagram {
    margin-top: 115px;
    margin-bottom: 84px;
    &-content {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 8px;
        margin-top: 16px;
        a {
            color: $secondary-color;
            font-weight: 700;
            font-size: 14px;
            line-height: calc(20/14);
        }
    }
    &-list {
        margin-top: 40px;
        margin-bottom: 76px;
    }
    &-item {
        background-color: #fff;
        padding: 8px;
        border-radius: 30px;
            img {
            width: 100%;
        }
    }
}