.footer {
    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .footer-title {
            font-size: 12px;
            text-transform: uppercase;
            color: #E2E2E2;
            margin-bottom: 10px;
        }

        .social {
            margin-bottom: 40px;
            &-list {
                display: flex;
                gap: 35px;

                .social-item {
                    display:inline-block;
                    font-size: 20px;
                    line-height: 40px;
                    background-color:#fff;
                    border-radius: 50%;
                    color:white;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    vertical-align: bottom;
                    &.active, &:hover {
                        background-color: #FDCB6E;
                    }
                    .social-link {
                        color: $purple-color;
                    }
                }
            }
        }

        .follow-us {
            margin-bottom: 48px;
            .heading {
                color: $purple-color;
                a {
                    text-decoration: none;
                }
            }
        }

        .information {
            margin-bottom: 54px;
            .list-menu {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 16px 30px;

                .menu-item {
                    list-style: none;
                    flex: 0 0 33.333333%;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;

                    .menu-link {
                        text-decoration: none;
                        color: #2D3436;
                    }
                }
            }
        }

        .keep-in-touch {
            ::placeholder {
                color: $purple-color;
            }
            .input-group {
                display: flex;
                gap: 30px;
                margin-bottom: 30px;

                input {
                    position: relative;
                    padding: 8px 16px;
                    border-radius: 20px;
                    background-color: #f0f0f0;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    line-height: 32px;
                    outline-color: $purple-color;
                    color: $purple-color;
                    width: 50%;
                    &::after {
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 600;
                        content: "\f105";
                    }
                    
                }
            }
            .message {
                padding: 20px;
                border: none;
                background-color: #f0f0f0;
                border-radius: 20px;
                textarea {
                    display: block;
                    border: none;
                    outline: none;
                    width: 100%;
                    color: $purple-color;
                    background-color: #f0f0f0;
                    font-size: 18px;
                    line-height: 32px;
                    &::placeholder {
                        color: $purple-color;
                        font-weight: 700;
                    }
                }
            }

            .btn-send {
                padding: 8px 16px;
                margin-top: 30px;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                font-weight: 700;
                background-color: $purple-color;
                border: 2px solid $purple-color;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    }
}
.copyright {
    text-align: center;
    margin: 30px 0;
}
.wave {
    img {
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 576px) {

    .footer {
        &-content {
            grid-template-columns: repeat(1, 1fr);
            .social {
                &-list {
                    justify-content: space-between;
                }
            }
            .information {
                .list-menu {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}